		<div class="nav_col_1 small-text">
			<p class="title">View The Photo Gallery</p>
			<a href="./gallery"><span class="invisible_mask"></span></a>
		</div>
		<div class="nav_col_2 small-text">
			<p class="title">About The Class</p>
			<a href="./class"><span class="invisible_mask"></span></a>
		</div>
		<div class="nav_col_3 small-text">
			<p class="title">About The Art</p>
			<a href="./art"><span class="invisible_mask"></span></a>			
		</div>
		<div class="nav_col_4 small-text">
			<p class="title">About The Artist</p>
			<a href="./artist"><span class="invisible_mask"></span></a>	
		</div>