		<br/>
		<br/>
		<div class="nav_col_1 small-text">
			<small class="title text-center"> View<br/> Photo<br/> Gallery</small>
			<a href="./gallery"><span class="invisible_mask"></span></a>
		</div>
		<div class="nav_col_2 small-text">
			<small class="title text-center"> About<br/> The<br/> Class</small>
			<a href="./class"><span class="invisible_mask"></span></a>
		</div>
		<div class="nav_col_3 small-text">
			<small class="title text-center"> About<br/> The<br/> Art</small>
			<a href="./art"><span class="invisible_mask"></span></a>			
		</div>
		<div class="nav_col_4 small-text">
			<small class="title text-center"> About<br/> The<br/> Artist</small>
			<a href="./artist"><span class="invisible_mask"></span></a>	
		</div>