<div class="bottom" id="navBarDiv">
	<div id="container_n4">
		<div id="container_n3">
			<div id="container_n2">
				<div id="container_n1">
					<div id="col_n1" class="small-text">
						<p class="title">Tweet The Artist</p>
						<a href="/twitter"><span class="invisible_mask"></span></a>
					</div>
					<!-- I'm going to have a problem here where the button doesn't extend all the way down the column. The bottom will not be completely clickable. -->
					<div id="col_n2" class="small-text">
						<p class="title">View The Gallery </p>
						<a href="/gallery"><span class="invisible_mask"></span></a>
					</div>
					<div id="col_n3" class="small-text">
						<p class="title">About The Class</p>
						<a href="/class"><span class="invisible_mask"></span></a>			
					</div>
					<div id="col_n4" class="small-text">
						<p class="title">About The Artist</p>
						<a href="/artist"><span class="invisible_mask"></span></a>			
					</div>
				</div>
			</div>
		</div>
	</div>
</div>