		<br/>
		<br/>
		<div class="nav_col_1 small-text">
			<h5 class="title"> View<br/> Photo<br/> Gallery</h5>
			<a href="./gallery"><span class="invisible_mask"></span></a>
		</div>
		<div class="nav_col_2 small-text">
			<h5 class="title"> About<br/> The<br/> Class</h5>
			<a href="./class"><span class="invisible_mask"></span></a>
		</div>
		<div class="nav_col_3 small-text">
			<h5 class="title"> About<br/> The<br/> Art</h5>
			<a href="./art"><span class="invisible_mask"></span></a>			
		</div>
		<div class="nav_col_4 small-text">
			<h5 class="title"> About<br/> The<br/> Artist</h5>
			<a href="./artist"><span class="invisible_mask"></span></a>	
		</div>