<html>
<head>
	<title>Art</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
	<link href="css/bootstrap.css" rel="stylesheet"></link>
	<link href="css/bootstrap-theme.css" rel="stylesheet"></link>
	<link href="css/style.css" rel="stylesheet"></link>
</head>

<body>
<div>
	<div class="right" id="panelDiv">
		<img src="images/mumbatu_02.jpg" alt="Mumbatu" class="profile_pic">
		<p class="title">Mumbatu</p>
		<p class="title second">By: Karen Cusolito</p>

	</div>
</div>
<div class="textDiv">
	<p class="title black">About the Art</p>
	<p>Karen studied at Rhode Island School of Design and Massachusetts College of Art. She worked on several public art installations in and around the Boston area before moving to San Francisco in 1996. </p>
	<p >Her art has taken many forms, from painting and mixed media to the large-scale steel sculptures she’s presently developing.</p>
	<p>She finds drawing to be the easiest and most concise form of communication and the human form a rich arena in which to explore and express emotion, intention, and challenge. Much of her work focuses on humanity and the environment and the delicate balance between the two.</p>
	<p>Karen is about to embark on a new series that studies the female form throughout history.</p>
	<p>Since 2009, she has been running American Steel Studios in Oakland, CA, which provides studio and gallery space to over 100 artists and small businesses.</p>
</div>


{{>navBar}}

<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap.js"></script>

</body>
</html>