<html>
<head>
	<title>Artist</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
	<link href="../css/bootstrap.css" rel="stylesheet"></link>
	<link href="../css/bootstrap-theme.css" rel="stylesheet"></link>
	<link href="../css/style.css" rel="stylesheet"></link>
</head>

<body>
	<div id="art_info_panel">
		<img src="../{{artist_pic}}" alt="Mumbatu" class="profile_pic">
		<div class="artist_link_div">
			<p class="title" id="artist_name_big">By: Karen Cusolito</p>
			<a href="./artist"><span class="invisible_mask"></span></a>
		</div>
	</div>
	<div class="textDiv">
		<p class="subtitle black">About the Artist</p>
		{{#each bio}}
			<p> {{this}} </p>
		{{/each}}
		{{>twitter}}
	</div>


{{>navBar_artist}}

<script src="../js/jquery-1.11.0.js"></script>
<script src="../js/bootstrap.js"></script>

</body>
</html>