<html>
<head>
	<title>Artist</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
	<link href="../css/bootstrap.css" rel="stylesheet"></link>
	<link href="../css/bootstrap-theme.css" rel="stylesheet"></link>
	<link href="../css/style.css" rel="stylesheet"></link>
</head>

<body>
	<div class="info_panel" id="artist_info_panel">
		{{#each artist}}
			<a href="./gallery"><img src="{{artist_pic}}" alt="Mumbatu" class="profile_pic"></a>
			<div class="artist_link_div">
				<p class="title" id="artist_name_big">{{name}}</p>
				<a href="{{website}}"><span class="invisible_mask"></span></a>
			</div>
		{{/each}}
	</div>
	<div class="textDiv">
		<h3 class="subtitle" id="artist_title">About The Artist</h3>
		{{#each bio}}
			<p class="content_text"> {{this}} </p>
		{{/each}}
		{{>twitter}}
	</div>


{{>navBar}}

<script src="../js/jquery-1.11.0.js"></script>
<script src="../js/bootstrap.js"></script>

</body>
</html>