<html>
<head>
	<title>Class</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
	<link href="../css/bootstrap.css" rel="stylesheet"></link>
	<link href="../css/bootstrap-theme.css" rel="stylesheet"></link>
	<link href="../css/style.css" rel="stylesheet"></link>
</head>

<body>
<div class="top right" id="panelDiv">
</div>
<div>
	<p>Placeholder for the Class page</p>
	 
</div>


{{>navBar}}

<script src="../js/jquery-1.11.0.js"></script>
<script src="../js/bootstrap.js"></script>

</body>
</html>