<html>
<head>
	<title>Class</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
	<link href="../css/bootstrap.css" rel="stylesheet"></link>
	<link href="../css/bootstrap-theme.css" rel="stylesheet"></link>
	<link href="../css/style.css" rel="stylesheet"></link>
</head>

<body>
	<div class="info_panel" id="class_info_panel">
		<p class="title" id="artist_name_big">Instructors</p>
		<div class="artist_link_div">
			<img src="/images/michael_sturtz.jpg" alt="Mumbatu" class="profile_pic">
			<p class="title" id="artist_name_big">Michael Sturtz</p>
			<a href="http://michaelsturtz.com/"><span class="invisible_mask"></span></a>
		</div>
		<div class="artist_link_div">
			<img src="/images/sasha_leitman.jpg" alt="Mumbatu" class="profile_pic">
			<p class="title" id="artist_name_big">Sasha Leitman</p>
			<a href="http://www.artinventionmusic.com/"><span class="invisible_mask"></span></a>
		</div>
	</div>
	<div class="textDiv">
		<h3 class="subtitle" id="class_title">About The Class: ME289</h3>
		
			<p> ME289 gives students the tools and support they need to transform their ideas into engaging public projects. Drawing on the fields of design, art, performance, and engineering, each student ideates, designs, plans, and leads a team to build an interactive art instillation and/or performance piece to be showcased to an audience of 5000 at the Frost Music and Art Festival held on the Stanford campus on May 17, 2014. </p>
			<p> In the first quarter of this two quarter class, students learned the design, planning, story boarding, budgeting, engineering, proposal creation, and concept pitching aspects of projects for applying to grants and presenting to funders. Students also enjoyed guest presentations from visiting experts in the fields of interactive art and design as well as a behind-the-scenes tour of The Exploratorium and artist studios in Oakland.  </p>
			<p> In the second quarter of the class, students concentrated on prototyping, maquette making, testing, team forming, project management, creative leadership, construction, site installation, and documentation.<p/>
			<p> ME289 is part of Stanford's Re-designing Theater program.<a href="http://dschool.stanford.edu/redesigningtheater/"> Click here</a> to learn more about the class or the program. </p>
			<br/>
			<br/>
			<p>Generous Funding for the class is provided by the Stanford Arts Initiative. </p>
			<img src="/images/AI-Logo.jpg" alt="Stanford Arts Institute">
	</div>
{{>navBar}}

<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>

</body>
</html>