<html>
<head>
	<title>Gallery</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
	<link href="../css/bootstrap.css" rel="stylesheet"></link>
	<link href="../css/bootstrap-theme.css" rel="stylesheet"></link>
	<link href="../css/style.css" rel="stylesheet"></link>
	<link href="../css/carousel.css" rel="stylesheet"></link>
</head>

<body>
<div class="wrapper">
	<p> Placeholder for the Gallery page.</p>

	<div class="jcarousel">
	    <ul>
	       {{#each photos}}
				<li><img src="../{{this}}"></li>
			{{/each}}
	    </ul>
	</div>


{{>navBar}}
</div>

<script src="../js/jquery-1.11.0.js"></script>
<script src="../js/bootstrap.js"></script>
<!-- <script type="text/javascript" src="../js/jquery.js"></script> -->
<script type="text/javascript" src="../js/jquery.jcarousel.min.js"></script>

</body>
</html>