<!doctype html>

<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
	<link href="css/bootstrap.css" rel="stylesheet"></link>
	<link href="css/bootstrap-theme.css" rel="stylesheet"></link>
	<link href="css/style.css" rel="stylesheet"></link>
</head>

<body>
<!-- 	Upper half of the window -->
	<div class="top">
		<div id="container_h2">
			<div id="container_h1">
				<div id="col_h1">
					<p class="title">Art</p>
					<img src="images/mumbatu_02.jpg" alt="Mumbatu">
					<a href="/art"><span class="invisible_mask"></span></a>
				</div>
				<div id="col_h2">
					<p class="title">Artist</p>
					<img src="images/karecuso_01.jpg" alt="karecuso">
					<a href="/artist"><span class="invisible_mask"></span></a>
				</div>
			</div>
		</div>
	</div>

	<div class="top">
		<div class="left green v_split relative" id="art">
			<p class="title">Art</p>
			<img src="images/mumbatu_02.jpg" alt="Mumbatu">
			<a href="/art"><span class="invisible_mask"></span></a>
		</div>
		<div class="right red v_split relative" id="artist">
			<p class="title">Artist</p>
			<img src="images/karecuso_01.jpg" alt="karecuso">
			<a href="/artist"><span class="invisible_mask"></span></a>
		</div>
	</div>

	<!-- Bottom half of the window -->
<!-- 	<div class="bottom blue xltext" id="container2">
		<div class="left blue relative" id="twitter">
				<p class="title">Tweet The Artist</p>
				<a href="/twitter"><span class="invisible_mask"></span></a>
		</div>
		<div class="right green" id="gal_clas_box">
			<div class="right green relative" id="about">
				<p class="title">About The Class</p>
				<a href="/class"><span class="invisible_mask"></span></a>
			</div>
			<div class="left yellow relative" id="gallery">
				<p class="title">View The Gallery </p>
				<a href="/gallery"><span class="invisible_mask"></span></a>
			</div>
		</div>
	</div> -->
	<div class="bottom">
		<div id="container3">
			<div id="container2">
				<div id="container1">
					<div id="col1">
						<p class="title">Tweet The Artist</p>
						<a href="/twitter"><span class="invisible_mask"></span></a>
					</div>
					<div id="col2">
						<p class="title">View The Gallery </p>
						<a href="/gallery"><span class="invisible_mask"></span></a>
					</div>
					<div id="col3">
						<p class="title">About The Class</p>
						<a href="/class"><span class="invisible_mask"></span></a>			
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<p class="signature inline">sgussman@stanford.edu</p>
		<p class="signature inline right">All Rights Reserved</p>
	</div>

<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap.js"></script>

</body>
</html>