<!doctype html>

<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
	<link href="css/bootstrap.css" rel="stylesheet"></link>
	<link href="css/bootstrap-theme.css" rel="stylesheet"></link>
	<link href="css/style.css" rel="stylesheet"></link>

</head>

<body>
<!-- 	<div>
	<div class="container left">
		<div class="container" id="artContainer">
			<div class="center title">Art</div>
			<img class= "image" id="artThumb" src="images/mumbatu_01.jpg">
		</div>
		<div class="container" id="classContainer">
			<div class="center title" id="classTitle">Class</div>
		</div>
	</div>
	<div class="container right" id="artistContainer">
		<div class="center title">Artist</div>
		<img class="image" id="artistThumb" src="images/karecuso_01.jpg">
	</div>
</div> -->

<div class="top">
	<div class="left green v_split" id="art">
		<p class="title">Art</p>
		<div></div>
	</div>
	<div class="right red v_split" id="artist">
		<p class="title">Artist</p>
	</div>
</div>
<div class="bottom">
	<div class="left" id="frost_twit">
		<div class="top blue h_split" id="twitter">
			<p class="title">Twitter</p>
		</div>
		<div class="bottom red h_split" id="frost">
			<p class="title">Frost Website</p>
		</div>
	</div>
	<div class="right" id="gal_clas_box">
		<div class="right v_split green" id="about">
			<p class="title">About The Class</p>
		</div>
		<div class="left yellow v_split" id="gallery">
			<p class="title">The Gallery </p>
		</div>
	</div>
</div>
<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap.js"></script>

</body>
</html>