<!doctype html>

<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
	<link href="css/bootstrap.css" rel="stylesheet"></link>
	<link href="css/bootstrap-theme.css" rel="stylesheet"></link>
	<link href="css/style.css" rel="stylesheet"></link>
</head>

<body>
<!-- 	Upper half of the window -->
	<div class="col_1 row_1" id="art_launch">
		<h1 class="title">About The Art</h1>
		<a href="./{{title}}/art"><span class="invisible_mask"></span></a>
	</div>
	<div class="col_2 row_1" id="artist_launch">
		<h2 class="title">About The Artist</h2>
		<a href="/{{title}}/artist"><span class="invisible_mask"></span></a>
	</div>
<!-- Bottom half of the window -->
	<div class="col_1 row_2" id="class_launch">
		<h4 class="title">About The Class</h4>
		<a href="./{{title}}/class"><span class="invisible_mask"></span></a>
	</div>
	<div class="col_2 row_2" id="gallery_launch">
		<h3 class="title" id="gallery_launch_title">View Photo Gallery</h3>
		<a href="./{{title}}/gallery"><span class="invisible_mask"></span></a>
	</div>
<!-- 	<div>
		<p class="signature">sgussman@stanford.edu</p>
		<p class="signature right">All Rights Reserved</p>
	</div> -->
	{{>signature}}

<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap.js"></script>

</body>
</html>