<!doctype html>

<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
	<link href="css/bootstrap.css" rel="stylesheet"></link>
	<link href="css/bootstrap-theme.css" rel="stylesheet"></link>
	<link href="css/style.css" rel="stylesheet"></link>
</head>

<body>
<!-- 	Upper half of the window -->
	<div class="top">
		<div id="container_h2">
			<div id="container_h1">
				<div id="col_h1">
					<p class="title">Art</p>
					<img src="{{art_pic}}" alt="Mumbatu">
					<a href="/art"><span class="invisible_mask"></span></a>
				</div>
				<div id="col_h2">
					<p class="title">Artist</p>
					<img src="{{artist_pic}}" alt="karecuso">
					<a href="/artist"><span class="invisible_mask"></span></a>
				</div>
			</div>
		</div>
	</div>
	<!-- Bottom half of the window -->
	<div class="bottom">
		<div id="container_t3">
			<div id="container_t2">
				<div id="container_t1">
					<div id="col_t1" class="large-text">
						<p class="title">Tweet The Artist</p>
						<a href="/twitter"><span class="invisible_mask"></span></a>
					</div>
					<!-- I'm going to have a problem here where the button doesn't extend all the way down the column. The bottom will not be completely clickable. -->
					<div id="col_t2" class="large-text">
						<p class="title">View The Gallery </p>
						<a href="/gallery"><span class="invisible_mask"></span></a>
					</div>
					<div id="col_t3" class="large-text">
						<p class="title">About The Class</p>
						<a href="/class"><span class="invisible_mask"></span></a>			
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<p class="signature">sgussman@stanford.edu</p>
		<p class="signature right">All Rights Reserved</p>
	</div>

<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap.js"></script>

</body>
</html>