html, body {
	width: 100%;
	margin: 0px;
}

div {
	padding: 0;
}

p {
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 5px;
}

img {
	max-width: 95%;
	max-height: 100%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 3px;
}

/*********** Universals *********/

.top {
	width: 100%;
	height: 65%;
}

.bottom {
	width: 100%;
	height: 25%;
}

.right {
	float: right;
}


.title {
	color: #fff;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 900;
	font-family: 'Lato', sans-serif;
}


.invisible_mask {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('./images/empty.gif');
}

/************ Launch **************/

/*-- Third Column --*/

#container_t1 {
	float:left;
	width:100%;
	position: relative;
	right:30%;
}

#container_t2 {
	float:left;
	width:100%;
	position: relative;
	right:40%;
}

#container_t3 {
	float:left;
	width:100%;
	overflow: hidden;
	position: relative;
	background-color: #f5c700;
}

#col_t1 {
    float:left;
    width: 30%;
    position: relative;
    left: 70%;
    background-color: #1ab2e8;
}

#col_t2 {
    float:left;
    width:40%;
    position: relative;
    left: 70%;
    background-color: #f5c700;
}

#col_t3 {
    float:left;
    width:30%;
    position: relative;
    left: 70%;
    background-color: #0eba9e;
}

.large-text .title {
	font-size: x-large;
}

/*-- Half Columns --*/
#container_h1 {
	float:left;
	width:100%;
	position: relative;
	right:50%;
}

#container_h2 {
	float:left;
	width:100%;
	overflow: hidden;
	position: relative;
}

#col_h1 {
    float:left;
    width: 50%;
    position: relative;
    left: 50%;
    background-color: #0eba9e;
}

#col_h2 {
    float:left;
    width:50%;
    position: relative;
    left: 50%;
    background-color: #ef4836;
}

/*-- Bottom Signature --*/
.signature {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Lato', sans-serif;
	font-size: 10px;
	display: inline;
}
/*********** Art/Artist ***********/

img .profile_pic {
	width: 200px;
	height: auto;
	margin: 5px;
}

.subtitle {
	font-size: 30px;
	font-weight: 900;
	font-family: 'Lato', sans-serif;
	color: #fff;
}

.black {
	color:black;
}

.infobox {
	padding: 10px;
	border: 2px solid black;
	background-color: gray;
	width:35%;
}

.info{
	font-size: 25px;
/*	margin-bottom: 0px;*/
}

#art_info_panel{
	padding: 10px;
	border: 2px solid black;
	background-color: gray;
	width: 35%;
	float: right;
}

#art_info_panel .title{
	font-size: 10px;
	/*margin-bottom: 0px;*/
}
/*********** Navbar **************/

#container_n1 {
	float:left;
	width:100%;
	position: relative;
	right:25%;
}

#container_n2 {
	float:left;
	width:100%;
	position: relative;
	right:25%;
}

#container_n3 {
	float:left;
	width:100%;
	position: relative;
	right:25%;
}
#container_n4 {
	float:left;
	width:100%;
	overflow: hidden;
	position: relative;
	background-color: #ef4836;
}

#col_n1 {
    float:left;
    width: 25%;
    position: relative;
    left: 75%;
    background-color: #1ab2e8;
}

#col_n2 {
    float:left;
    width:25%;
    position: relative;
    left: 75%;
    background-color: #f5c700;
}

#col_n3 {
    float:left;
    width:25%;
    position: relative;
    left: 75%;
	background-color: #0eba9e;
}

#col_n4 {
    float:left;
    width:25%;
    position: relative;
    left: 75%;
    background-color: #ef4836;
}

.small-text .title {
	font-size: x-small;
}